<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="listeners" name="Test Listeners"/>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.contribution.junit.runtest"
            objectClass="org.eclipse.jdt.core.IType">
         <action
               class="org.eclipse.contribution.junit.RunTestAction"
               enablesFor="1"
               id="org.eclipse.contribution.junit.runtest.action"
               label="Run Test">
         </action>
      </objectContribution>
   </extension>
</plugin>
